body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

#app {
    max-width: 400px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}

button {
    background-color: #ff5733;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
